/* ================================================
   IG橫logo排版.css
   ★ 此檔案直接貼 Photoshop 匯出的 CSS，不要加其他內容
   ★ 系統設定（畫布尺寸、圖層清單）請寫在 IG橫logo排版.config.css
   ================================================ */

.LOGO範圍 {
  background-color: rgb(235, 104, 119);
  opacity: 0.4;
  position: absolute;
  left: 43px;
  top: 378px;
  width: 815px;
  height: 86px;
  z-index: 6;
}
.主標 {
  font-size: 50.444px;
  font-family: "ShopeeNotoSans (content)";
  color: rgb(43, 121, 196);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.38693129298638,0,0,1.38769067174782,0,0);
  -webkit-transform: matrix( 1.38693129298638,0,0,1.38769067174782,0,0);
  -ms-transform: matrix( 1.38693129298638,0,0,1.38769067174782,0,0);
  position: absolute;
  left: 0;
  top: 488.158px;
  width: 900px;
  z-index: 5;
  white-space: nowrap;
}
.副標 {
  font-size: 81px;
  font-family: "ShopeeNotoSans (content)";
  color: rgb(37, 64, 181);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.08576426241442,0,0,1.08635874487002,0,0);
  -webkit-transform: matrix( 1.08576426241442,0,0,1.08635874487002,0,0);
  -ms-transform: matrix( 1.08576426241442,0,0,1.08635874487002,0,0);
  position: absolute;
  left: 0;
  top: 562.817px;
  width: 900px;
  z-index: 4;
  white-space: nowrap;
}
.日期 {
  font-size: 40px;
  font-family: "ShopeeNotoSans (content)";
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.1404274472406,0,0,1.14105185912515,0,0);
  -webkit-transform: matrix( 1.1404274472406,0,0,1.14105185912515,0,0);
  -ms-transform: matrix( 1.1404274472406,0,0,1.14105185912515,0,0);
  position: absolute;
  left: 0;
  top: 664.203px;
  width: 900px;
  z-index: 3;
  white-space: nowrap;
}
.商品圖範圍 {
  background-color: rgb(235, 104, 119);
  opacity: 0.4;
  position: absolute;
  left: 50px;
  top: 754px;
  width: 800px;
  height: 555px;
  z-index: 2;
}