.LPBN_PC方LOGO_jpg {
  position: absolute;
  left: 0px;
  top: 800px;
  width: 1200px;
  height: 400px;
  z-index: 77;
}
.矩形_2 {
  background-color: rgb(26, 71, 174);
  position: absolute;
  left: 668px;
  top: -165px;
  width: 70px;
  height: 630px;
  z-index: 76;
}
.商品範圍 {
  background-color: rgb(235, 104, 119);
  opacity: 0.4;
  position: absolute;
  left: 716px;
  top: 22px;
  width: 466px;
  height: 354px;
  z-index: 75;
}
.logo範圍 {
  background-color: rgb(235, 104, 119);
  opacity: 0.4;
  position: absolute;
  left: 20px;
  top: 150px;
  width: 121px;
  height: 120px;
  z-index: 74;
}
.主標 {
  font-size: 51px;
  font-family: "ShopeeNotoSans (content)";
  color: rgb(43, 121, 196);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 1.01696924104673,0,0,1.01752605654768,0,0);
  -webkit-transform: matrix( 1.01696924104673,0,0,1.01752605654768,0,0);
  -ms-transform: matrix( 1.01696924104673,0,0,1.01752605654768,0,0);
  position: absolute;
  left: 149.321px;
  top: 142.761px;
  z-index: 73;
}
.副標 {
  font-size: 81.599px;
  font-family: "ShopeeNotoSans (content)";
  color: rgb(37, 64, 181);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.79613810971536,0,0,0.79657401477767,0,0);
  -webkit-transform: matrix( 0.79613810971536,0,0,0.79657401477767,0,0);
  -ms-transform: matrix( 0.79613810971536,0,0,0.79657401477767,0,0);
  position: absolute;
  left: 80.117px;
  top: 192.454px;
  z-index: 72;
}
.日期 {
  font-size: 36px;
  font-family: "ShopeeNotoSans (content)";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.83621996370985,0,0,0.8366778145663,0,0);
  -webkit-transform: matrix( 0.83621996370985,0,0,0.8366778145663,0,0);
  -ms-transform: matrix( 0.83621996370985,0,0,0.8366778145663,0,0);
  position: absolute;
  left: 105.039px;
  top: 276.008px;
  z-index: 71;
}
.常態標籤 {
  position: absolute;
  left: 0px;
  top: -800px;
  width: 2448px;
  height: 2400px;
  z-index: 70;
}
